/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
    background-color: #7e7773;
    cursor: pointer;
  }
 
  .container {
    padding-top: 10px;
  }
 
  .pointable {
    cursor: pointer;
  }
 
  button {
    color: rgb(242, 238, 234);
  }
 
  [hidden] {
    display: none !important;
  }
 
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f2ede6;
  }
  .well div{color:none;}